<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="VWO Login Suite" parallel="false">
    <test name="VWO Login Tests">
        <classes>
            <class name="com.seleniumframework.tests.ValidLoginTest"/>
            <class name="com.seleniumframework.tests.InvalidLoginTest"/>
        </classes>
    </test>
</suite>